body{
	
	text-align: center;
	font: 100 1em 'Raleway', Helvetica;
	text-shadow: .2em;
	text-transform: uppercase;
	background: linear-gradient(to right, #78f035, #007894);
	
}

h1, h2, h3{
	font-family: "Raleway";
	color: white;
	text-align: center;
	letter-spacing: .3em;
}

button {
	cursor: pointer;
	background: white;
	text-align: center;
	font: 100 1em 'Raleway', Helvetica;
	text-shadow: .2em;
	text-transform: uppercase;
	border-radius: 4em;
	
}


